.geoImg {
  width: 20px;
  margin-right: 3px;
}

.eventNow {
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 20px;
  background: #ccfbc8;
  margin-right: 10px;
}

.media {
  width: 100%;
  object-fit: cover;
}
